$title-font: 'Salsa', cursive;
$text-font: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-size: 4.5rem;
  color: $white-color;

  @media screen and (max-width: 480px) {
    font-size: 3.5rem;
  }
}

p, q, span, label, input, select, textarea {
  font-family: $text-font;
  font-size: 2rem;
  color: $white-color;
}
